<% if @articles.empty? %>
  <p>No articles to display :(</p>
<% else %>
  <% @articles.each do |article| %>
    <div class="article">
      <h2><%= link_to article.title, article_path(article) %></h2>
      <p class="content"><%= article.content %></p>
    </div>
  <% end %>
<% end %>

